<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LOGOTIGERSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://94.130.137.85/AS_LOGOWEBSERVICE/LOGOTIGER.asmx"
                binding="basicHttpBinding" bindingConfiguration="LOGOTIGERSoap"
                contract="ServiceReferenceLOGO.LOGOTIGERSoap" name="LOGOTIGERSoap" />
        </client>
    </system.serviceModel>
</configuration>